/**
 * VARIABLES
 */

 /**COLORS */
$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;
$gray-lighter: #f4f5f685 !default;
$color-warning: #F1BF98 !default;
$color-info: #42CAFD !default;
$color-error: #A63A50 !default;
$color-success: #ACC196 !default; 

/**LAYOUT */
$container-width: 1024px;


/**TYPO */

$text-small: 1.3rem;